<h1>Possible Questions of the Week</h1>
<% count = 1%>
<% @questions.each do |q|%>
	<p><%= count%></p>
	<% count+=1%>
	<p><%= q.content%></p>
	<p><%= link_to q.source_url, q.source_url%></p>
	<p> Vote:<%= q.vote_count%></p>
<% end %> 